* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 17rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  font-size: 2rem;
  border-radius: 20px;
}

button:active {
  transform: scale(.95);
}

button:hover {
  opacity: .7;
}